{% extends "frappe/templates/base.html" %}
{% block title %} Meeting {% endblock %}

{% block content %}
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<div id="wrap">
		<p>Start A Call with NUEOO</p>
		<div class="row">
			<div class="col-md-12 desk_grid">
				<form class="search" action="#">
					<div class="search__wrapper">
						<input type="text" name="" placeholder="Enter Room ID" class="search__field" id="room_id" value="000136" readonly>
						<button type="submit" onclick="call()" class="fa fa-phone search__icon"></button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			var mousePos = {};
			function getRandomInt(min, max) {
				return Math.round(Math.random() * (max - min + 1)) + min;
			}
			$(window).mousemove(function(e) {
				mousePos.x = e.pageX;
				mousePos.y = e.pageY;
			});
			$(window).mouseleave(function(e) {
				mousePos.x = -1;
				mousePos.y = -1;
			});
			var draw = setInterval(function(){
				if(mousePos.x > 0 && mousePos.y > 0){
					var range = 15;
					var color = "background: rgb("+getRandomInt(255,255)+","+getRandomInt(205,205)+","+getRandomInt(0,0)+");";
					var sizeInt = getRandomInt(10, 30);
					size = "height: " + sizeInt + "px; width: " + sizeInt + "px;";
					var left = "left: " + getRandomInt(mousePos.x-range-sizeInt, mousePos.x+range) + "px;";
					var top = "top: " + getRandomInt(mousePos.y-range-sizeInt, mousePos.y+range) + "px;";
					var style = left+top+color+size;
					$("<div class='ball' style='" + style + "'></div>").appendTo('#wrap').one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function(){$(this).remove();}); 
				}
			}, 1);
		});

		function call(){
			var id = document.getElementById("room_id").value;
			var iframe = '<iframe allow="autoplay;microphone;camera" width="100%" height="100%" src="https://erp.subzcanvas.com/'+id+'"></iframe>';
			$("#wrap").html(iframe);
			/*
			if(id){
				frappe.call({
					"method": "nueoo_journey.www.nueoo_meeting.call",
					"args": {"room_id": id},
					"type": "POST",
					"callback": function(r){
						if(r){
							var room = r.message;
							if(room == true){
								var iframe = '<iframe allow="autoplay;microphone;camera" width="100%" height="100%" src="https://192.168.2.89/'+id+'"></iframe>';
								$("#wrap").html(iframe);
							} else{
								msgprint("This room is not Avaliable.")
							}
						}
					}
				});
			} else{
				msgprint("Please Entry Room ID.");
			}
			*/
		}

	</script>
{% endblock %}

{% block sidebar %} {% endblock %}
{% block footer %}

	<footer class="footer-distributed">
		<div class="footer-right">
			<p>Powered by NUEOO</p>
		</div>
	</footer>
{% endblock %}

