<style>
/* TERMS AND CONDITIONS */
.terms-and-conditions-invoice  p,
.terms-and-conditions-invoice ul,
.terms-and-conditions-invoice li{
	font-size: 8px;
	margin: 0;
	padding: 0;

}
.terms-and-conditions-invoice h3{
	font-size: 12px;
	margin-bottom: 3px;	
}
.terms-and-conditions-invoice{
	counter-reset: sectionone;
}

.sectionone::before{
	counter-increment:sectionone;
	content: counter(sectionone) ". ";
	font-weight: bold;
}
.sectiontwo::before{
	counter-increment:sectiontwo;
	content: counter(sectionone) "." counter(sectiontwo);
	font-weight: bold;
}
</style>
<div class="terms-and-conditions-invoice">
	<div class="row">
		<div class="col-xs-12">
			<h3>TERMS AND CONDITIONS</h3>
		</div>
		<div class="col-xs-12">
			<h3 class="sectionone">Definitions</h3>
			<p class="sectiontwo">
				“Customer” means the party with whom Tablix Technology may enter into an agreementfor the supply of products and services;
			</p>
			<p class="sectiontwo">“Tablix” means Tablix Technology LLC, a limited liability Company, asmay be determined from the invoice issued to the Customer in respect of theProducts and Services in question;
			</p>
			<p class="sectiontwo">“Products & Services” means goods (including but not limited to hardwareand software) and services to be provided by Tablix to its Customers underthese Terms and conditions;
			</p>
			<p class="sectiontwo">“Force Majeure” means any event or circumstance beyond the reasonable controlof Tablix, by reason of which Tablix is prevented or delayed from deliveringProducts & Services, including act of God, and other unpredictable eventssuch as war, events similar to war, instructions by government, non-permissionof export, import or transit permissions, national measures to limit tradetraffic, strike, lockout and any other interruptions, traffic jams, no matterwhether these events occur at or affect Tablix, its suppliers, contractors, itssubcontractors, or any other third party on which Tablix Technology relies fromtime to time.
			</p>
			<h3 class="sectionone">Validity of Terms</h3>
			<p class="sectiontwo">These Terms apply toall orders, quotations and sale of Products & Services by Tablix to anyCustomer or potential Customer and (in the absence of express provisions to thecontrary), to all future transactions involving Tablix and an existingCustomer, to the exclusion of all other terms and conditions asserted orproposed by any Customer, whether expressly or by implication, and whether ornot the same are expressly rejected by Tablix.
			</p>
			<p class="sectiontwo">Acceptance of Products& Services by Customer shall constitute acceptance of these terms andconditions.
			</p>
			<p class="sectiontwo">No amendment or modification of these Terms and Conditionsshall be effective unless confirmed in writing by the General Manager of Tablixor, in relation to Clause 11.1 below, the Financial Controller of Tablix.
			</p>
			<h3 class="sectionone">Offer and Order Acceptance</h3>
			<p class="sectiontwo">All offers andquotations by Tablix and proposed business arrangements are for informationonly and shall not be binding. Acceptance of orders is subject to Tablix’swritten order confirmation, or in the case of immediate delivery, Tablix’sinvoice.
			</p>
			<p class="sectiontwo">Modification or waiver by Tablix of any contractual provisionin respect of one order or transaction shall not constitute modification orwaiver in respect of any future orders or transactions.
			</p>
			<p class="sectiontwo">Unless expressly marked as binding in writing by Tablix, alldrawings, designs, illustrations, features, specifications and particulars ofdimensions and weights and other such information submitted by Tablix areapproximate only.
			</p>
			<p class="sectiontwo">Tablix shall havefull discretion in accepting or rejecting any order.</p>
			<h3 class="sectionone">Prices</h3>
			<p class="sectiontwo">Unless otherwisespecified, Tablix ’s quoted prices offered from time to time shall serve, for aperiod of seven (7) calendar days thereafter, as an indicative basis forevaluation and negotiation. However, subject to the other provisions of thisClause 4, the definitive and binding price shall be that stated in Tablix’sorder confirmation.
			</p>
			<p class="sectiontwo">Notwithstanding any price stated in Tablix’s orderconfirmation, price increases due to monetary fluctuations will apply and bechargeable to the Customer for Products & Services not delivered at thetime of such fluctuation. Such increases will be at the discretion of Tablix,but will not constitute value greater than 50% of the total order value.
			</p>
			<p class="sectiontwo">All prices forProducts & Services are delivery to customer premises. Non-specified itemslike tax, packaging, environmental lump sum/fees, transport, freight, copyrightlevies, insurance and legal charges are for the Customer’s account and theCustomer agrees to indemnify Tablix Technology in respect thereof.
			</p>
			<h3 class="sectionone">Delivery and Performance Period</h3>
			<p class="sectiontwo">Tablix will use allreasonable endeavours to deliver the goods on or before the agreed deliverydate, however, Tablix  does notundertake, guarantee or warrant that delivery will be made on the agreeddelivery date.Time is not of the essence.
			</p>
			<p class="sectiontwo">Delays in deliveryand in performance due to Force Majeure shall entitle Tablix either to postponethe delivery or service for the period during which such Force Majeure shallpersist plus an appropriate additional period necessary to resume the deliveryor service, or (if performance by Tablix has not commenced) to rescind thecontract with the Customer, or (if such performance has commenced) to terminatesuch contract as at the occurrence of the event or circumstance of ForceMajeure, without (in any such event) further obligation or liability to theCustomer.
			</p>
			<p class="sectiontwo">If any delivery time is postponed by more than 3 months,whether as a result of Force Majeure or not, the Customer shall be entitledafter granting in written form an appropriate period of grace (of at least 14days) to withdraw from the contract                            completely or partlyif it has been partly performed.
			</p>
			<p class="sectiontwo">All liability to the Customer for delay is excluded, unless thedelay is based on gross negligence or wilful misconduct of Tablix.
			</p>
			<p class="sectiontwo">Tablix  is entitled todeliver the Products & Services in one or more consignments. With deliverycontracts each partial delivery and partial performance shall constituteindependent performance. The period of delivery shall also be prolonged by suchperiod as the Customer may be in default in meeting its contractualobligations.
			</p>
			<p class="sectiontwo">At any time, Tablix reserves the right, at its option, torefuse delivery until the Customer has made payment for the Products &Services.
			</p>
			<p class="sectiontwo">Tablixprovides the Products & Services to the Customer subject to, and theCustomer warrants that it will comply with, any geographical restriction ontheir resale by the Customer specified in their invoices.
			</p>
			<h3 class="sectionone">Default in Acceptance</h3>
			<p class="sectiontwo">If the Customerrefuses or fails to take delivery of the Products & Services ordered or isin delay in payment, Tablix  shall beentitled to store the delivery items at the Customer’s risk and expense untilsuch time as the Customer resumes acceptance of delivery or (as the case maybe) resumes timely payment. Until resumption by the Customer, the Customershall pay Tablix Technology compensation for storage expenses at the rate of 2%per week of the purchase price with a maximum of AED 5000 per week.
			</p>
			<p class="sectiontwo">If the Customer continues to refuse the acceptance of deliveryitems after a period of grace granted or if it declares non-acceptance ofProducts & Services, Tablix shall be entitled (without obligation orliability to the Customer) to refuse to fulfil the order and claim compensationfrom the Customer for breach of contract. The Customer agrees that no refusalto take delivery of the Products and Services shall relieve the Customer of theobligation to pay Tablix Technology the full value thereof on demand and(without prejudice to the foregoing) the Customer further agrees that the loss,damage and disruption caused to Tablix by the Customer’s breach of contractwill amount to no less than 40% of the agreed purchase price, and agrees that Tablixshall be entitled at its option and without contestation, to receive such sumfrom the Customer by way of compensation.
			</p>
			<h3 class="sectionone">Quantity of Delivery</h3>
			<p class="sectiontwo">Visible differencesin quantity or damage to the Products must be disclosed in writing to Tablix andthe carrier within 48 hours from receipt of the Products in question. Hiddendifferences in quantity must be similarly disclosed within 4 days from receiptof the Products.
			</p>
			<p class="sectionone">Acceptance of the Products by the carrier or transport agent ofthe Customer will constitute conclusive evidence that the correct quantity hasbeen supplied and that the Products in question have been wrapped and shippedin accordance with all contractual requirements.
			</p>
			<p class="sectiontwo">Should Tablix inadvertently deliver Products that have not beenordered by the Customer, the Customer undertakes to notify Tablix Technology inwriting within 14 days of the erroneous delivery and to keep the Products readyfor pick-up by a carrier or forwarding agent to be instructed by Tablix .Should the Customer fail to notify Tablix Technology of an erroneous deliveryin writing or do so after the 14-day period, the Customer shall be consideredfor all purposes to have accepted the delivery and shall accordingly be obligedto make prompt payment for such Products in accordance with Tablix 's listedprices applicable at the time of delivery.
			</p>
			<h3 class="sectionone">Transfer of Risk</h3>
			<p class="sectiontwo">Riskof loss and damage shall pass to Customer as soon as the shipment has beentransferred to the carrier or forwarding agent instructed by the Customer orwhen the shipment leaves Tablix 's warehouse, whichever shall occur first.
			</p>
			<h3 class="sectionone">Warranty & RMA</h3>
			<p class="sectiontwo">Tablix warrants thatall Products supplied to the Customer are fit for their purpose only inaccordance with and to the extent of, for such period and upon such terms asmay be specified in the manufacturer's warranty, provided that no unauthorisedmodification to the Products (or to the system of which the Product forms part)has taken place.
			</p>
			<p class="sectiontwo">In the event that a Product (being hardware) should prove to bedefective, the maximum entitlement of the Customer in such event (and subjectto the provisions of Clause 9.1 above) will be that such Product will berepaired or replaced.
			</p>
			<p class="sectiontwo">In the event that a Product (being software) should prove to bedefective, the Customer accepts that such Product has been supplied andaccepted on an "as-is" basis. Accordingly, it is agreed that TablixTechnology's maximum liability in respect thereof (and subject to theprovisions of Clause 9.1 above) is to use all reasonable endeavours to obtainand supply a corrected version from the manufacturer concerned provided thatthe Customer notifies Tablix Technology of such defect within 90 days of thedate of delivery thereof to the Customer.
			</p>
			<p class="sectiontwo">Under no circumstances shall the Customer be entitled to deductor set off the value of Products rejected by the Customer as faulty, in theabsence of a credit note issued by the Tablix.
			</p>
			<p class="sectiontwo">Except as expressly set out in these Terms and Conditions, TablixTechnology disclaims and excludes all other warranties, whether express orimplied by statute or otherwise, including but not limited to warranties ofdescription, design, merchantability and fitness for a particular purpose, orarising from any previous course of dealing, customer or trade practice. Tablixfurther disclaims and excludes all liability to the Customer for special,indirect, or consequential damage including but not limited to loss of profitsor arising from loss of data in connection with the use of the Products orprovision of the Services, and the Customer hereby agrees to indemnify, holdharmless and defend Tablix in respect thereof.
			</p>
			<h3 class="sectionone">Retention of Title</h3>
			<p class="sectiontwo">Tablix shall retaintitle of Products and Services until it has received payment in full of allsums due in connection with the supply or provision thereof to the Customer.
			</p>
			<p class="sectiontwo">If any Products are attached to, mixed or incorporated withother Products not owned by Tablix and are not identifiable or separable fromthe resulting composite or mixed Products then title to the resulting compositeor mixed Products shall vest in Tablix (on the basis of co-ownership with otherowners in the proportion which the stated value of the Products bears to thestated value of the whole) and shall be retained by Tablix Technology as longas and on the same terms on which it would have retained title to the Productsin question.
			</p>
			<p class="sectiontwo">The Customer shall store Products owned by Tablix in such away that they are clearly identifiable as Tablix property and shall maintainrecords identifying them as Tablix property.
			</p>
			<p class="sectiontwo">In the event of failure or delay by the Customer in makingpayment, or if the Customer is the subject of bankruptcy or equivalentproceedings, or makes composition with its creditors, Tablix shall be entitled(but not obliged) to withhold delivery of any undelivered Products and stopProducts in transit and recover possession of Products already delivered andunpaid for. Alternatively, Tablix shall be entitled (but not obliged) toreaffirm the contract for supply of the Products & Services and to requirethe Customer to pay for Products in transit.
			</p>
			<h3 class="sectionone">Payment</h3>
			<p class="sectiontwo">All invoices shallbe payable in the manner described in the Payment Terms Confirmation providedby Tablix to the Customer except as may be notified to the contrary by Tablix 'sFinancial Controller. If so required by the Customer, Tablix may undertake to(but shall not be obliged to) provide carriage and insurance at rates andcharges to be agreed and to be charged separately. Unless and until suchagreement is recorded in writing, the arranging of carriage and insurance shallremain the responsibility of the Customer.
			</p>
			<p class="sectiontwo">Notwithstanding any provision to the contrary, including anyprovision in documentation emanating from the Customer, Tablix shall beentitled to book payments against earliest invoices, then against interestaccrued, and finally against the current transaction for supply of Products& Services.
			</p>
			<p class="sectiontwo">If the Customer is in default of its obligations to maketimely payments, interest shall accrue on the amount(s) outstanding at the rateof 3% above the UBOR rate prevailing during the period of delay. At its owndiscretion, Tablix shall have the right to determine, adjust or refuse a creditline at any time. If a Customer exceeds his credit line at any time, Tablixshall have no obligation to continue to deliver any Products & Servicesuntil such time as the Customer rectifies its credit standing or elects toproceed on a cash payment basis for the transaction in question.
			</p>
			<h3 class="sectionone">Limitations on Liability</h3>
			<p>Exceptas may be expressly provided elsewhere in these Terms and Conditions, neither Tablixnor any of its servants, agents, officers, employees, suppliers or contractorsshall be liable to the Customer for any loss or damage sustained as a result ofbreach of contract.
			</p>
			<h3 class="sectioneone">Trademarks</h3>
			<p class="sectiontwo">All trademarks on or relating to the Products & Services are and remainintellectual property of the respective manufacturer and/or supplier. For theuse of these trademarks prior written approval of the respective manufacturerand/or supplier is required. All use and delivery of software is subject to thelicense agreement accompanying the Products & Services.
			</p>
			<p class="sectiontwo">All intellectual propertyrights other than trademark rights (including for the avoidance of doubt butnot limited to any title or ownership rights, copyrights, patent rights andtrade secret rights) in or relating to the Products & Services supplied to Tablixby third party owners or suppliers for onward sale or supply by Tablix to theCustomer shall at all times and for all purposes vest and remain vested in suchthird party owners or suppliers for onward sale or supply by Tablix to thecustomer shall at all times and for all purpose vest and remain vested in suchthird part owners or suppliers.
			</p>
			<p class="sectionetwo">The products & services in question are supplied to the customer by Tablix subjectto the foregoing rights and subject to the applicable license in respecttherof.Except as may be provided in such licence, the Products & Servicesare supplied to the Customer for the purpose of onetime re-selling and to theend customer for exclusive use (excluding for the avoidance of doubt any rightsto make copies or to grant user rights to any third party), and no title to orownership of the Products & Services is conferred by virtue of these Termsand Conditions.
			</p>
			<p class="sectiontwo">The Customer hereby acknowledges that it is the Customer's sole responsibilityto comply with any terms of such licence and that failure to do so could resultin the Customer being refused further supplies of such Products & Services.Accordingly, the Customer hereby further agrees to indemnify Tablix in respectof any costs, charges of expenses incurred by Tablix Technology in any claim orlegal action involving such third party, owner or supplier as a result of anybreach of any of such terms and conditions by the Customer.
			</p>
			<h3 class="sectionone">Data Protection</h3>
			<p class="sectiontwo">TheCustomer authorizes Tablix to process data concerning the Customer received inrelation to their mutual relationship, to the same extent as if governed byEnglish Law.
			</p>
			<h3 class="sectionone">Confidentiality</h3>
			<p class="sectiontwo">During the course of the business relationship or at any time after the terminationthereof, Customer shall not disclose or use any business or company secrets orother confidential information relating to Tablix, its parent or affiliatedcompanies. Customer agrees that such information will only be communicated tothose members of its staff whose knowledge of such information is essential andwill bind these members of its staff to confidentiality.
			</p>
			<h3 class="sectionone">Export</h3>
			<p class="sectiontwo">All products, spares, technical data, software and documentation may be subject toexport and import laws, rules and regulations including but not limited tothose of the United Arab Emirates, the United States of America and the countryof import. In the event Customer exports the Product outside the United ArabEmirates or the country of import, the Customer shall ensure it has done so incompliance with any clause. 5.7 restriction shall comply with all applicableexport and import rules and regulations, shall obtain all applicable licenses,and shall indemnify Tablix from and against all loss and damage sustained as aresult of the Customer's failure or delay in doing any of these things. In linewith Export / Trade Compliance checks that may need to be undertaken by Tablixwhen implementing Manufacture Export Compliance Policies. Tablix reserves theright to cancel / terminate any contracts with customers failing these checks.
			</p>
			<h3 class="sectionone">Governing Law</h3>
			<p class="sectiontwo">These Terms and Condition shall be governed by and construed in accordance with thelaws of Dubai in the United Arab Emirates. If any of these Terms and Conditionsare declared invalid or unenforceable, the validity of other provisions shallbe unaffected and Tablix and the Customer shall agree to enter intonegotiations with the aim of substituting or amending the invalid orunenforceable provision with a new provision that approximates the economicpurpose of the intended provision.
			</p>
			<h3 class="sectionone">Marketing Activities</h3>
			<p class="sectiontwo">The Customer expressly consents to receiving advertisement from Tablix by telefaxor e-mail without requirement for prior request.
			</p>
		</div>
	</div>
</div>
<p class="page-break"></p>
