<style>
	{% include "templates/print_formats/quotation/proposal.css" %}
</style>

<!--Header Footer Content-->
{% include "templates/print_formats/commons/header.html" %}
{% include "templates/print_formats/commons/footer_india.html" %}
<!--Header Footer Ends Here-->
<div class="row">
	<div class="single-page-info">
		<div class="col-xs-6">
			<div class="col-xs-4">
				<p><b>Customer:</b></p>
			</div>
			<div class="col-xs-8">
				<p><b>{{doc.customer}}</b></p>
			</div>
			<div class="col-xs-4">
				<p><b>Contact:</b></p>
			</div>
			<div class="col-xs-8">
				<p><b>{{doc.contact_display}}</b></p>
			</div>
			{% if flags.with_tax == True %}
				<div class="col-xs-4">
					<p><b>TRN:</b></p>
				</div>
				<div class="col-xs-8">
					<p><b>{{doc.tax_id}}</b></p>
				</div>
			{% endif %}
			<div class="col-xs-4">
				<p><b>Shipping Address:</b></p>
			</div>
			<div class="col-xs-8">
				<p>{{doc.shipping_address}}</p>
			</div>
			{% if doc.get("po_no") %}
				<div class="col-xs-4">
					<p><b>Customer Order:</b></p>
				</div>
				<div class="col-xs-8">
					<p>{{doc.po_no}}</p>
				</div>
			{% endif %}
		</div>
	 	<div class="col-xs-6">
                	<div class="col-xs-5">
                        	<p><b>Date:</b></p>
                	</div>
                	<div class="col-xs-7">
                        	<p>
					{{frappe.utils.get_datetime(doc.transaction_date)}}
				</p>
                	</div>
	
			<div class="col-xs-5">
				<p><b>Contact No:</b></p>
			</div>
			<div class="col-xs-7">
				<p>
					{{ doc.contact_mobile }}<br>
						
				</p>
			</div>
			<div class="col-xs-5">
				<p><b>Billing Address:</b></p>
			</div>
			<div class="col-xs-7">
				<p>{{doc.address_display}}</p>
			</div>
			<div class="col-xs-5">
				<p><b>Delivery Terms:</b></p>
			</div>
			<div class="col-xs-7">
				<p>
					{{ doc.delivery_terms }}<br>
						
				</p>
			</div>
		</div>
		
	</div>
</div><br></br>
{% include "templates/print_formats/commons/delivery_note.html" %}
<div style="text-align:center; margin-top:10px;">
     	Thank You for your business!<br>
	Any futher enquiries relating to this Delivery Note <br>
	Please Contact: <b>{{doc.tablix_rep_name}}</b>
	&nbsp;&nbsp;Contact No:<b>{{doc.tablix_rep_phone}}</b>
	&nbsp;&nbsp;E-Mail: <b>{{doc.tablix_rep}}</b><hr>
</div>

<div id="footer-html" class="visible-pdf">
	{% if not no_letterhead and footer %}
		<div class="letter-head-footer">
			{{ footer }}
		</div>
	{% endif %}
	<p class="text-right small page-number visible-pdf">
		{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
	</p>
</div>
