<div class="row">
	<div class="col-xs-6">
		<div class="col-xs-4">
			<p style="text-align:left;"><b>Customer:</b></p>
		</div>
		<div class="col-xs-8">
			<p style="text-align:right"><b>{{doc.customer_name}}</b></p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-4">
			<p style="text-align:left;"><b>Date:</b></p>
		</div>
		<div class="col-xs-8">
			<p style="text-align:left;">{{frappe.utils.get_datetime(doc.transaction_date).strftime('%d-%b-%Y')}}</p>

		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-4">
			<p style="text-align:left;"><b>Bill to Address:</b></p>
		</div>
		<div class="col-xs-8">
			<p style="text-align:left;">{{doc.customer_address}}</p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-4">
			<p style="text-align:left;"><b>Ship to Address:</b></p>
		</div>
		<div class="col-xs-8">
			<p style="text-align:left;">{{doc.shipping_address_name}}</p>

		</div>	
	</div>
	<div class="col-xs-6">
		<div class="col-xs-4">
			<p style="text-align:left;"><b>Project Ref</b></p>
		</div>
		<div class="col-xs-8">
			<p style="text-align:left;">{{ doc.project }}</p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-4">
			<p style="text-align:left;"><b>Customer PO:</b></p>
		</div>
		<div class="col-xs-8">
			<p style="text-align:left;">{{doc.po_no}}</p>
		</div>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-4">
			<p style="text-align:left;"><b>Due Date:</b></p>
			
		</div>
		<div class="col-xs-8">
			<p style="text-align:left;">{{frappe.utils.get_datetime(doc.due_date).strftime('%d-%b-%Y')}}</p>
		</div>	
	</div>
</div>

