{% set email = frappe.db.get_value("User", frappe.session.user, ["email"], as_dict=True) %}

{% if email %}
        {% set emp = frappe.get_doc("Employee", {'user_id': email.email}) %}
{% endif %}

<style>
        {% include "templates/print_formats/quotation/proposal.css" %}
</style>

{%- from "templates/print_formats/standard_macros.html" import add_header, render_field -%}

<div id="header-html" class="hidden-pdf"><br><br>
        <b>{{ add_header(0,1,doc,letter_head, no_letterhead)|replace("DRAFT", "") }}</b>
        {% if doc.get("docstatus") == 0 %}
                <p style="color:red; font-size:12px;font-style:italic; font-weight:bold;" class="text-center"></p>
        {% endif %}

</div>

<div id="footer-html" class="visible-pdf">
        {% if not no_letterhead and footer %}
                <div class="letter-head-footer">
                        {{ footer }}
                </div>
        {% endif %}
        <p class="text-right small page-number visible-pdf">
                {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
        </p>
</div>

<div class="row">
        <div class="single-page-info">		
        	<div class="col-xs-6">
			<div class="col-xs-4">
				<p><b>Notification:</b></p>
			</div>
			<div class="col-xs-8">
				<p><b>{{doc.subject}}</b></p>
			</div>
			<div class="col-xs-4">
				<p><b>User:</b></p>
			</div>
			<div class="col-xs-8">
				<p><b>{{frappe.session.user}}</b></p>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="col-xs-4">
				<p><b>Date:</b></p>
			</div>
			<div class="col-xs-8">
				<p><b>{{frappe.utils.nowdate()}}</b></p>
			</div>
			<div class="col-xs-4">
				<p><b>User Email:</b></p>
			</div>
			<div class="col-xs-8">
				{% if email %}
					<p><b>{{email.email}}</b></p>
				{% endif %}
			</div>
		</div>
	</div>
</div><br><hr>

<div class="row">
	<div class="col-xs-12">
		<p>{{doc.description}}</p>
	</div><br>
	<div style="text-align:center;">
		<span style="line-height: 5px;"><b>** END OF DOCUMENT **</b></span>
	</div>
</div><br><hr>

<div style="text-align:center;">
	<font size="1px"><b>THIS IS A COMPUTER GENERATED DOCUMENT AFTER ALL NECESSARY APPROVALS & REQUIRE NO SIGNATURE</b></font></br>
</div>
<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-8"><b>ACKNOWLEDGEMENT:</b></div><br>
		<table class="table table-bordered single-page">
			<tbody>
				<thead>
					<tr>
						<th style="width: 50%; text-align: left;">
							<input type="checkbox" name="check_1" value="", checked="Yes", disabled="disabled"><b>&nbsp; &nbsp; &nbsp I reviewed the Notification.</b><br><br>
							<input type="checkbox" name="check_2" value="", checked="Yes", disabled="disabled"><b>&nbsp; &nbsp; &nbsp I understand.</b><br><br>
						</th>
						<th style="width: 50%; text-align: center;">
							{% if emp %}
								<img src = '{{emp.signature}}' height = "100px" width = "150px">
							{% endif %}
						</th>
					</tr>
				</thead>
				<tr>
					<td style="width: 50%; text-align: center;">
						<p style="color:red; font-size:12px;font-style:bold; font-weight:bold;" class="text-center">REVIEWED, &nbsp; UNDERSTOOD, &nbsp; RECORDED</p>
					</td>
					<td style="width: 50%; text-align: center;">
						<p style="color:red; font-size:12px;font-style:bold; font-weight:bold;" class="text-center">Digitally Signed By {{ emp.employee_name }} <br> on {{frappe.utils.now()}}</p>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
